body {
    overflow-x: hidden;
    line-height: 1;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -1px;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    letter-spacing: -0.75px;
}

div {
    display: block;
}

li, ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}


/* container */
#container {
    padding-top: 140px;
}

section {
    display: block;
}

[class^=sub-type] {
    padding-bottom: 100px;
}

.inner-box, #gnb .gnb-inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

[class^=sub-type] .page-title-wrap.v2 {
    padding-bottom: 28px;
    border-bottom: 2px solid #111;
}

[class^=sub-type] .page-title-wrap {
    position: relative;
    margin-top: 100px;
}

[class^=sub-type] .page-title {
    font-size: 32px;
    color: #111;
    font-weight: 400;
}

[class^=sub-type] .page-title-wrap .depth-area {
    position: absolute;
    right: 0;
    top: 16px;
}


[class^=sub-type] .page-title-wrap .depth-area ol li {
    display: inline-block;
    font-size: 13px;
    color: #888888;
}

[class^=sub-type] .page-title-wrap .depth-area ol li:first-child:before {
    display: none;
}

[class^=sub-type] .page-title-wrap .depth-area ol li a, [class^=sub-type] .page-title-wrap .depth-area ol li strong {
    font-size: inherit;
    font-weight: inherit;
    color: #888888;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}


h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

[class^=sub-type] .page-title-wrap .depth-area ol li:before {
    content: "";
    margin: 3px 8px 2px 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: transparent #888888 #888888 transparent;
    border-width: 0 1px 1px 0;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.mypage .mypage-grade {
    margin-top: 28px;
}

.mypage .menu-nav-wrap {
    margin: 0;
    border-bottom: none;
}

.menu-nav {
    margin-left: -70px;
}


[class^=sub-type] .menu-nav-wrap {
    position: relative;
    padding-bottom: 15px;
}

.mypage .menu-nav-wrap .menu-nav ul, .mypage .menu-nav-wrap .menu-nav li, .mypage .menu-nav-wrap .menu-nav a {
    line-height: 1;
}

[class^=sub-type] .menu-nav-wrap .menu-nav ul li {
    display: inline-block;
}

[class^=sub-type] .menu-nav-wrap .menu-nav ul li a {
    font-size: 14px;
    color: #888888;
}


[class^=sub-type] .menu-nav-wrap .menu-nav ul li:first-child:before {
    display: none;
}

[class^=sub-type] .menu-nav-wrap .menu-nav ul li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    margin: 2px 20px 0;
    background: #ddd;
    vertical-align: top;
}

.menu-nav > ul {
    margin-left: 35px;
}



.user {
    color: #fff;
}


.mypage .mypage-grade .info-wrap {
    position: relative;
    padding: 67px 80px;
    background: #111;
    color: #fff;
}

.mypage .mypage-grade .info-wrap .user {
    display: inline-block;
    padding: 0 46px 8px 0;
    border-bottom: 4px solid #1391ff;
    font-size: 38px;
    font-weight: 300;
    line-height: 1;
}

.mypage .mypage-grade .info-wrap .user span {
    font-size: 38px;
    font-weight: 500;
}


.mypage .mypage-grade .info-wrap .text-type {
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
}
.text-type {
    font-size: 13px;
    color: #888888;
}



/* main form */

.myinfo-wrap dl {
    padding-top: 30px;
    font-size: 0;
    position: relative;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.myinfo-wrap dl dt {
    width: 250px;
    padding-left: 40px;
    font-weight: 600;
    vertical-align: top;
    line-height: 1;
    margin-top: 3px;
}
.myinfo-wrap dl dt, .myinfo-wrap dl dd {
    display: inline-block;
    font-size: 16px;
    color: #111;
}

.myinfo-wrap dl dt.center {
    vertical-align: middle;
    margin-top: 0;
}

.myinfo-wrap dl dd {
    vertical-align: middle;
    width: calc(100% - 250px);
}


.myinfo-wrap dl.pw dt {
    margin-top: 15px;
}

.myinfo-wrap dl.pw dd {
    padding-bottom: 15px;
}


.myinfo-wrap dl dd .form-item.number input {
    width: 300px;
    vertical-align: top;
}
input[type=text], input[type=password], textarea {
    transition: all 0.3s ease-in-out;
}
input[type=text], input[type=submit], input[type=password], input[type=search], input[type=number], input[type=reset], input[type=email], input[type=tel], input[type=search], input[type=file], input[type=email], input[type=tel], textarea {
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    height: 42px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 15px;
    color: #111;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-family: "Roboto", "Noto", sans-serif;
}

.myinfo-wrap dl dd .form-item + .text-type4 {
    margin-top: 12px;
}
.text-type4 {
    color: #ff143c;
    font-size: 13px;
    line-height: 1;
}

.myinfo-wrap dl.pw dd:last-child {
    padding-bottom: 0;
}

.myinfo-wrap dl dd .form-item.number .btn-type {
    margin-left: 6px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    width: 110px;
}
.btn-type.v4 {
    font-weight: 400;
    background: #222;
    border-color: #222;
}
.btn-type {
    border: 1px solid #ff143c;
    color: #fff;
}
[class^=btn-type] {
    display: inline-block;
    position: relative;
    text-align: center;
}

.myinfo-wrap dl dt.center {
    vertical-align: middle;
    margin-top: 0;
}

.btn-type.v7 {
    width: 120px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #ddd;
    background: #222;
    border-color: #222;
}


.myinfo-wrap dl dd .form-group.v2 {
    display: block;
    font-size: 0;
}
.form-group {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.myinfo-wrap dl dd .form-group.v2 .form-item {
    vertical-align: middle;
    margin: 0;
}
.form-group .form-item:first-child {
    margin-left: 0;
}
.form-group .form-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}


.myinfo-wrap dl dd .form-group.v2 .form-item .select-type2 {
    width: 130px;
    margin-right: 5px;
}
.select-type2, .company .sel_box, .select-type.type2 {
    position: relative;
    width: 100%;
    height: 42px;
}



.select-type2 select.selected, .company .sel_box select.selected, .select-type.type2 select.selected {
    color: #111;
    font-weight: 500;
    opacity: 1;
}
.select-type2 select, .company .sel_box select, .select-type.type2 select {
    height: 100%;
    padding-left: 20px;
    padding-right: 50px;
    border: 1px solid #ddd;
    font-size: 15px;
}
select:disabled, input:disabled {
    background: #f5f5f5;
}
select {
    padding: 0 0 0 20px;
    box-sizing: border-box;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    font-family: "Roboto", "Noto", sans-serif;
    width: 100%;
    height: 42px;
}
input, select, textarea {
    vertical-align: middle;
}

.select-type2 select.selected option, .company .sel_box select.selected option, .select-type.type2 select.selected option {
    color: #111;
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
}

.select-type2:after, .company .sel_box:after, .select-type.type2:after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: transparent #888 #888 transparent;
    border-width: 0 1px 1px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
}


.myinfo-wrap dl dd .form-group.v2 .form-item input {
    width: 130px;
    margin-right: 5px;
}

.myinfo-wrap dl dt.top.name {
    margin-top: 13px;
}

.myinfo-wrap dl dd .form-group.v2 .form-item.e-mail span {
    font-size: 16px;
    display: inline-block;
    padding: 0 12px;
    line-height: 42px;
    margin-left: -10px;
}

select[disabled] > option {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}


.myinfo-wrap dl dd .chk-wrap {
    display: inline-block;
    margin-right: 30px;
}


.myinfo-wrap dl dd .chk-box {
    vertical-align: middle;
}
.chk-box {
    display: inline-block;
    text-align: left;
}


.myinfo-wrap dl dd .form-group.v2 .form-item input {
    width: 130px;
    margin-right: 5px;
}
.chk-box input[type=checkbox], .chk-box input[type=radio] {
    display: none;
}
input[type=radio], input[type=checkbox] {
    appearance: none;
}

input, select, textarea {
    font-size: 1em;
    vertical-align: middle;
}


input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}


input[type="radio" i] {
    background-color: initial;
    cursor: default;
    border: initial;
}


input {
    text-rendering: auto;
    color: fieldtext;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
}


input:disabled {
    cursor: default;
    border-color: rgba(118, 118, 118, 0.3);
}


.chk-box input[type=radio] + .checkbox {
    border-radius: 100%;
}


.chk-box.disabled .checkbox {
    border-color: #aaaaaa;
}

.chk-box.selected .checkbox {
    border: 2px solid #ff143c;
}

.chk-box .checkbox {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-top: -2px;
}




.chk-box input[type=radio]:checked + .checkbox + label {
    color: #111;
}
.chk-box label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #888888;
}

label, select, input, textarea {
    vertical-align: middle;
}


.chk-box input[type=checkbox], .chk-box input[type=radio] {
    display: none;
}

.chk-box.disabled input[type=radio] + .checkbox:after {
    content: "";
    background: #f5f5f5;
}
.chk-box input[type=radio] + .checkbox:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    transition: all 150ms;
}

.chk-box:nth-of-type(n+2) {
    margin-left: 25px;
}


::before, ::after {
    box-sizing: border-box;
}


.chk-box input[type=checkbox]:checked ~ .checkbox:after, .chk-box input[type=radio]:checked ~ .checkbox:after {
    transition-delay: 100ms;
}
.chk-box input[type=radio]:checked ~ .checkbox:after {
    width: 10px;
    height: 10px;
    background: #ff143c;
}

.chk-box input[type=checkbox]:checked ~ .checkbox:before, .chk-box input[type=radio]:checked ~ .checkbox:before {
    transition-delay: 0ms;
}

.chk-box.disabled input[type=radio] + .checkbox {
    background: #f5f5f5;
}


/* 버튼 or 회원탈퇴 */

.myinfo-wrap > .btn-wrap {
    margin-top: 60px;
}
.btn-wrap, .btn-wrap2 {
    width: 100%;
}
[class^=btn-wrap] {
    font-size: 0;
    text-align: center;
}

.btn-type.v4 {
    width: 220px;
    font-weight: 400;
    background: #222;
    border-color: #222;
}

.btn-type {
    height: 62px;
    background: #ff143c;
    border: 1px solid #ff143c;
    color: #fff;
    font-size: 18px;
    line-height: 62px;
}

[class^=btn-wrap] [class^=btn-] + [class^=btn-] {
    margin-left: 12px;
}
.btn-type.v6 {
    width: 220px;
    font-weight: 400;
}

.myinfo-wrap > .btn-wrap .desc {
    margin-top: 40px;
    font-size: 14px;
    color: #888888;
    font-weight: 400;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.myinfo-wrap > .btn-wrap .desc .btn-link {
    border-bottom: 1px solid #111;
    margin-left: 5px;
}

.myinfo-wrap > .btn-wrap .desc .btn-link span {
    font-weight: 500;
    color: #111;
}

.myinfo-wrap > .btn-wrap .desc .btn-link span:after {
    content: "";
    vertical-align: 2px;
    margin: 0 2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: transparent #111 #111 transparent;
    border-width: 0 1px 1px 0;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}